<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <context:component-scan base-package="cn.bdqn.tangcco.sun.controller"/>
    <mvc:annotation-driven></mvc:annotation-driven>
    <mvc:resources mapping="/statics/**" location="/statics/"/>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!--增强逻辑-->
    <bean id="theLoger" class="cn.bdqn.tangcco.sun.aop.aopController"></bean>
        <aop:config>
            <aop:pointcut id="pointcut" expression="execution(* cn.bdqn.tangcco.sun.controller.*.*(..))"></aop:pointcut>
            <aop:aspect ref="theLoger">
                <aop:before method="before" pointcut-ref="pointcut"></aop:before>
                <aop:after-returning method="after" pointcut-ref="pointcut" returning="result"></aop:after-returning>
            </aop:aspect>
        </aop:config>





</beans>